---
http_interactions:
- request:
    method: get
    uri: https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewTop?country=US&dataOnly=true&genreId=1&l=en&popId=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apple-Store-Front:
      - 143441-1,17
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apple-Jingle-Correlation-Key:
      - WSE3QFE6JI7XX5JS4ONU2IH5MQ
      X-Apple-Translated-Wo-Url:
      - "/WebObjects/MZStore.woa/wa/viewTop?country=US&dataOnly=true&l=en&genreId=1&popId=2"
      Content-Type:
      - text/xml; charset=UTF-8
      X-Apple-Lokamai-No-Cache:
      - 'true'
      X-Apple-Aka-Ttl:
      - Generated Tue Mar 22 03:33:44 PDT 2016, Expires Tue Mar 22 03:34:44 PDT 2016,
        TTL 60s
      X-Webobjects-Loadaverage:
      - '0'
      Last-Modified:
      - Tue, 22 Mar 2016 10:33:44 GMT
      X-Apple-Orig-Url:
      - https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewTop?country=US&dataOnly=true&l=en&genreId=1&popId=2
      X-Apple-Application-Site:
      - ST11
      Apple-Timing-App:
      - 4 ms
      X-Apple-Asset-Version:
      - '0'
      X-Apple-Request-Store-Front:
      - 143441-1,17
      X-Apple-Date-Generated:
      - Tue, 22 Mar 2016 10:33:44 GMT
      X-Apple-Application-Instance:
      - '2000702'
      X-Apple-Ats-Cache-Key:
      - "/17.173.38.164/80/WebObjects/MZStore.woa/wa/viewTop/iDevice/143441-1/17/https?country=US&dataOnly=true&genreId=1&l=en&popId=2"
      X-Apple-Partner:
      - origin.0
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\"?>\n<!DOCTYPE
        plist PUBLIC \"-//Apple Computer//DTD PLIST 1.0//EN\" \"http://www.apple.com/DTDs/PropertyList-1.0.dtd\">
        \n\n  <plist version=\"1.0\">\n    <dict>\n       \n  \n    \n    <key>pings</key>\n<array>\n
        \ \n  \n    <string>https://xp.apple.com/report/2/xp_its_main?code=itemNotAvailable&amp;buttons=OK&amp;baseVersion=1&amp;eventVersion=1&amp;storeFrontHeader=143441-1%2C17&amp;eventTime=1458642824072&amp;eventType=dialog&amp;message=The%20item%20you%27ve%20requested</string>\n\n
        \ \n</array>\n\n    \n         \n  <key>failureType</key><string></string>\n
        \ <key>customerTitleMessage</key><string>Item Not Available</string>\n  <key>customerMessage</key><string>The
        item you&#39;ve requested is not currently available in the U.S. store.</string>\n
        \ \n  <key>m-allowed</key><false/>\n  \n  \n  \n  \n  \n  \n       \n       \n
        \   \n      <key>dialog</key>\n      <dict>\n    \n    \n    <key>m-allowed</key><false/>\n
        \   \n    \n    \n    <key>message</key><string>Item Not Available</string>\n
        \   <key>explanation</key><string>The item you&#39;ve requested is not currently
        available in the U.S. store.</string>\n    <key>defaultButton</key><string>ok</string>\n\n
        \   \n    <key>okButtonString</key><string>OK</string>\n    \n\n    \n    \n\n
        \   \n    \n\n    \n    \n    \n    \n</dict>\n\n    \n    \n    \n      <key>cancel-purchase-batch</key><true/>\n
        \   \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n
        \ \n\n\n    \n    </dict>\n  </plist>\n  \n\n\n\n\n        "
  recorded_at: Tue, 22 Mar 2016 10:33:43 GMT
recorded_with: VCR 3.0.1
